.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto; /*conteudo centralizado*/

  display: flex; /*flex box layout*/
  align-items: center; /*alinhar verticalmente ao centro*/
  justify-content: space-between; /*alinhar horizontalmente ao centro*/
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

.logon-container section.form form {
  margin-top: 100px;
}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

